<div class="wrapper">

    <div class=row>
        <div class="img-wrap">
       
          
                <img
                  src="assets/images/about_photo_Crop.jpg"
                  class="about-img"
                  alt="Landing Page"
                />
        </div>
    </div>
        <div class="row row-wrap">
        <div class="text-wrap">
            <div class="header">About Gerardo</div>
            <div class="body">My name is Gerardo Ortiz. I'm a hard working Christian man that enjoys healthy living, football and baseball. I root for the Dolphins and the Boston Red Sox. I have three son's and a wife. I'm a hard working man and a little retirement isn't gonna stop me from earning my daily bread. I believe in hard work, because as they say, "an idle mind is the devils playground". I've lived in Florida for 5 years now and I've gotten to know that many of us have faith in the community. I not only want to share my services with customers but hopefully leave some blessings upon them. Furthermore I guarantee your gonna love our work, hand to God. So please contact me and we can cleans your house like the word cleanses the soul. If your not Christian you'll understand what I mean once your house is clean.</div>
        </div>
        
    </div>
</div>