@media only screen and (max-width: 950px) {
  .nav-item{
      font-size:125% !important;
  }
}
/* Navigation*/
.hide{
  display: none;
}
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Navigation*/
#navigation-logo{
  position: absolute;
    top: 0px;
    z-index: 10;
    width: 28%;
}
li.nav-item.filler {
  width: 26%;
}
@media only screen and (max-width: 1000px) {
  .nav-item{
      font-size:125% !important;
  }
}
.nav-item{
    color: #fff;
    display: inline-block;
    font-size: 25px;
    width: 17%;
    text-align: center;
    height: 60px;
    padding-top: 18px;
}
div#nav-head {
  height: 60px;
}
img {
    vertical-align: inherit !important;
    border-style: none;
    width: 100%;
}
.nav-wrapper{
    width: 100%;
    display: inline-block;
    background-color: #38568C;
}
a {
    color: #fff;
}
/* unvisited link */
a:link {
    color: #fff;
  }
  
  /* visited link */
  a:visited {
    color: #fff;
  }
  
  /* mouse over link */
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #fff;
  }
ul{
    padding: 0px;
    color: #fff;
}
.nav-wrapper {
  /* width: 100%; */
  /* display: inline-block; */
  background-color: #38568C;
  width: 100%;
  height: 100px;
}
@media only screen and (max-width: 555px) {
.navigation{
display:none;
}
}
@media only screen and (min-width: 555px) {
  .burger{
display:none;
}
.mini-menuToggle{
  display:none !important;
}
}
.container {
  display: inline-block;
  cursor: pointer;
}

.burger{
  position: absolute;
  left: 88%;
  top: 13px;
  border: solid 1px white;
  border-radius: 3px;
}
@media only screen and (max-width: 513px) {
  .burger{
    left: 84%;
    top: 10px;
}
div#nav-head {
  height: 48px;
}
}
@media only screen and (max-width: 413px) {
  .burger {
    left: 80%;
}
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px)  ;
  transform: rotate(-45deg) translate(-4px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg)  translate(-3px, -5px);
  transform: rotate(45deg) translate(-3px, -5px) ;
}
.changes {
  width: 105px !important;
  padding: 16px 20px 16px 16px;
}
.bar1, .bar2, .bar3 {
  width: 19px;
  height: 2px;
  background-color: white;
  margin: 4px 4px;
  transition: 0.4s;
}


a.gradient-text:hover {
  background-color: #e6b264;
  background-image: linear-gradient(45deg, #e6b264, #9198e517);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.sidebarIconToggle{
  display:none
}
.mini-menuToggle{
  display: inherit;
  position: absolute;
  right: 0px;
  z-index: 10;
  background-color: #38568C;
  top: 47px;
  width:0px;
  margin-left: 11px;
  transition: all .5s ease-in-out;
  line-height: 29px;
} 
.mini-menu {
  list-style-type: none;
  margin-bottom: 0px;
}