  
  <carousel class="carousel">
    <slide>
      <img src="assets/images/residential-commercial-power-washing-services-tennessee.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Versatile Cleaning</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/Brick-Pavers-Stairs.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color: lawngreen; display: inline;">Fast Turna</h1>
        <h1 style="color:black;display: inline !important;">round </h1>
      </div>  
    </slide>
    <slide>
      <img src="assets/images/PowerWash2.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Proven Excellence</h1>
      </div>
    </slide>
  </carousel>
  <div class="last-section row m-0">
    <div class="content1 btm-cntnt no-pad col-4">
      <div class="title-color">
        <p class="no-marg">Personable Service </p>
        </div>
        <div class="gradient-description">
        <p class="description">Whether you trying to clean a single family home, multi-unit condo or town home you will always receive the same excellent customer service.</p>
          </div>
      </div>
    <div class="content2 btm-cntnt no-pad col-4">
      <div class="title-color title2">
        <p class="no-marg">Timely Responses</p>
      </div>
      <div class="gradient-description">
        <p class="description">We're here for you. We want to talk to you as much as you want to talk to us. So we don't wait, as soon as we get your request our team of experts are alerted and immediately get to work starting you on a journey to a clean house</p>
        </div>
      </div>
    <div class="content3 btm-cntnt no-pad col-4">
      <div class="title-color title3">  
      <p class="no-marg">Family Friendly</p>
      </div>
      <div class="gradient-description">
      <p class="description">We're people too. At Geo's we're all family and we know that in a pinch it could be hard to get by. Thats why we'll work with you to get you the right payment plan to help us help you get your house clean.</p>
    </div>
    </div>
  </div>